main {
  display: flex;
  justify-content: center;
  align-items: center;
}

video {
  width: 400px;
}

.speed {
  height: 300px;
  width: 20px;
  margin: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
  border-radius: 50px;
}

.speed-bar {
  background-image: linear-gradient(
    to bottom,
    rgb(147, 209, 209),
    rgb(221, 197, 218),
    rgb(146, 196, 132)
  );
  font-size: 7px;
  display: grid;
  place-content: center;
  border-radius: 50px 50px 0 0;
}
